@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: linear-gradient(to bottom, #e087ff, #89eaff, #f5dd89);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.container-input > input {
  width: 40%;
}

input[type="checkbox"] {
  accent-color: #e087ff;
}

main {
  width: 60%;
  margin: 80px auto 0;
}

ul {
  max-height: 300px;
  overflow-y: scroll;
}

.todo-item {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  align-items: center;
  padding: 1em;
  background-color: #f9eba4a8;
  list-style: none;
  word-break: break-all;
}

span {
  margin: 0 8px;
}

.taskDelete {
  cursor: pointer;
}

.taskDelete:hover {
  color: rgb(178, 2, 2);
}
